<h2 class="page-header"> Employees Who work on {{date}}</h2>


        <!-- <br>-->

<form method="get" action="/api/tanda-twitter">
    <table>
        <thead>
        <th>Name</th>
        <!--<th> {Date}</th>-->
        </thead>
        <tbody>
        {{#employee}}
            <tr>
                <td>{{name}}</td>

                <td> <input type="checkbox" name="ids" value="{{id}}"><label for="{{id}}"></label>  </td>
            </tr>
        {{/employee}}
        <!--<input type="datetime" value="{}">-->
        </tbody>
    </table>
    <button type="submit" name='date' value="{{date}}">Press this button to send the hours to employees!</button>
</form>